body {
    background-image: linear-gradient( to right, rgb(0, 0, 0), rgb(19, 19, 19), rgb(22, 22, 22), rgb(41, 41, 41) );
    color: white;
}

.navbar {
    position: fixed;
    top: 0%;
    width: 100%;
    background-image: linear-gradient( to right, rgb(255, 255, 255), rgb(209, 209, 209), rgb(187, 187, 187), rgb(146, 146, 146) ); 
}

.login-cadastro {
    justify-content: space-between;
}

.login-cadastro a {
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    transition: 0.7s, 0.7s;
    margin-left: 10px;
}

.login-cadastro a:hover {
    color: black;
}

/* destaques*/
.container {
    padding-top: 90px;
    padding-bottom: 20px;
    display: inline-flex;
    justify-content: space-around;
    width: 900px;   
}

.container img {   
    height: 450px;
    width: 750px;
    border-radius: 10px; 
    box-shadow: -5px 5px 10px #ffffff11;
    transition: 0.2s, 0.2s;
}

.container img:hover {
    height: 470px;
    width: 770px;
}

/* lista filmes/series */
.lista-filmes-series h2 {
    margin-left: 85px;
}

.scroll::-webkit-scrollbar {
    border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb{
    background-image: linear-gradient( to right, rgb(255, 255, 255), rgb(209, 209, 209), rgb(187, 187, 187), rgb(146, 146, 146) ); 
    padding: 10px;
    border-radius: 10px;
}

.scroll {
    width: 1750px;
    overflow-x: auto;
    white-space: nowrap;
    margin-left: 75px;
}

.cards {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.cards img {
    height: 250.25px;
    width: 320.5px;
    transition: 0.2s, 0.2s;
    border-radius: 10px;
}

.cards img:hover {
    height: 260.25px;
    width: 330.5px;
}


/* Filmes */
#filmes h2 {
    margin-left: 75px;
    margin-top: 10px;
}

.container_2 {
    display: inline-flex;
    margin-right: -55px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 75px;
    
}

.container_2 img {
    height: 150px;
    width: 250px;
    margin-top: 10px;
    border-radius: 10px;
    transition: 0.4s, 0.4s;
}

.container_2 img:hover {
    height: 155px;
    width: 255px;
}

/* Serie */
#series h2 {
    margin-left: 75px;
    margin-top: 10px;
}

.container_3 {
    display: inline-flex;
    margin-right: -55px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 75px;
}

.container_3 img {
    height: 150px;
    width: 250px;
    margin-top: 10px;
    border-radius: 10px;
    transition: 0.4s, 0.4s;
}

.container_3 img:hover {
    height: 155px;
    width: 255px;
}

/* Salvos */

#salvos h2 {
    margin-left: 75px;
    margin-top: 10px;
}

#salvos img {
    height: 150px;
    width: 250px;
    margin-top: 10px;
    border-radius: 10px;
    transition: 0.4s, 0.4s;
}

#salvos img:hover {
    height: 155px;
    width: 255px;
}

.container_4 {
    display: inline-flex;
    margin-right: -55px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 75px;
}