{% load static %}

<!DOCTYPE html>
<html lang="pt=br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Procurar • FKFLIX</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/procurar.css' %}">
</head>

<body>
    
  <!--Barra de Navegação-->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">FKFLIX</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#destaques">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#filmes">Filmes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#series">Series</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#salvos">Salvos</a>
          </li>
        </ul>
        <div class="login-cadastro">
          <a href="#">Procurar</a></button>
          <a href="{% url 'login' %}">Logar</a>
          <a href="{% url 'cadastro' %}">Cadastrar</a>
        </div>
      </div>
    </div>
  </nav>

  <form action="?" method="get">
    <input type="text" name="titulo" id="" value="{{ request.get.titulo }}" class="p-1 border" autocomplete="off" placeholder="O que você esta procurando?">
    <button type="submit" class="btn btn-success">Procurar</button>
  </form>

  {% for cont in conteudos %}
    <img src="{{cont.imagem.url}}">
  {% endfor %}




</body>